/* font */
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}  
/* nostro css*/

h1, h2, h3, h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
   
}


a{
    color: rgb(22, 112, 22);
}
header{
    background-color: #555555;
    color: #FFF;
    height:200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/template/images/sfondo2.jpg);
    background-position: center bottom ;
    background-repeat: no-repeat;
    background-size: cover;
}
/*
header:hover{
    background-color: #aaaaaa;
}
alt-shift-f
 */  
#menu {
    display: flex;
    align-items: center
}         
#menu ul{
    list-style: none;
    margin:0;
    padding:0;
}
#menu li{
    /*display: inline;*/
    padding: 4px 8px;
    font-size: 22px;
    text-transform: uppercase;
    margin-left: 15px;
}
#menu a{
    color: #FFF;
    text-decoration: none;
    transition: 1s;
}
#menu a:hover{
    color:rgb(22, 112, 22);
    text-decoration: underline;
}
.top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 30px;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    display:flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    background-color: #201c1c;
    color: #FFF;
    padding: 20px ;

  
    
}
footer div{
    width: 25%;
}

#Blocco4 li{
    display: inline;    
}

h3{
  text-align: center;  
}

ul{
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
#footer a{
    color: #FFF;
    text-decoration: none;
    transition: 1s;
}
#footer a:hover{
    color: aqua;
    text-decoration: underline;
}
#Blocco4 li{
    border: none;
    width: 100% ;
    padding: 0;
    margin-left: 0.5rem;
}
#Blocco4 div{
    width: 100%;
    margin-top: 0.5rem;
   
}

.articles article{
    width: 100%;
}
.articles img{
    width: 500px;
    height: 250px;
    max-width: 100%;
    align-items: center ;
    border-radius: 10px;
    object-fit: cover;

}
main{
    padding: 50px;
    background-color: rgba(251,249,237,0.78)
}

h1,h2{
    text-align: center;
    }    

#articolo1{
    padding:3rem;
    text-align: left;
    
}
#articolo2{
    padding:3rem;
    text-align: left;
}
.articles a{
    text-decoration: none;
    background-color: rgb(205, 0, 0);
    color: white;
    padding: 4px 10px;
    transition: transform 0.3s;
    will-change: transform ;
    border-radius: 10px;

 
}
.articles a:hover{
    background-color: rgb(137, 40, 40);
    transform: scale(1.1);
    display: inline-block;
}


/**----------------------------NOTIZIE---------------------------**/
/*FORM*/
main.prenota  {
    width: 100%;
    margin: 0 auto;
    padding: 0%;

    
}
form{
    margin: 0 auto;
}
label {
    width: 200px;
    display:inline-block;

}
.formwrapper div {
    margin-bottom: 1.5rem;
}
.formwrapper{
    width: 500px;
    margin: 2rem auto;
    justify-content: space-between
}
.formwrapper .align-colum{
    flex-direction: column;    
}
.formwrapper input[type= "submit"]{
    margin-left: 50%;
}
.formwrapper label{
    line-height: 2.2
}

@media (min-width: 768px) {
    #menu li{
        display: inline;
    }
    header{
        height: 120px;
    }
    .articles-wrapper{
        display:flex;
        width: 100%;
    
    }

    .homepage header{
        height:80vh;
    }

}
/* appunto inline mette su una riga a prende solo la larghezza necessaria
quindi se gli do una dimensione non la prende se voglio invece mi prenda in
considerazione la dimensione uso inline block*/